{% if request.user.is_authenticated %}
<p>{{request.user}}</p>
<a href="{% url 'logout' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}
<hr>

<h1>My Notes</h1>
<a href="{% url 'task-create' %}">Nova Anotação</a>

<table>
    <tr>
        <th>Item</th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task-update' task.id %}">Editar</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Excluir</a></td>
    </tr>
    {% empty %}
    <h3>Nenhum Item na Lista</h3>
    {% endfor %}
</table>